// 
    // Global Footer

    // @package eyowo
    // @author  Tonye Dickson <psybug>
    // @version 1.0.0

//

// Site Footer

footer.main
    background:                     #151515
    padding:                        10px 0px
    .wrap
        max-width:                  1024px
        margin:                     0 auto
        padding:                    0 15px
        display:                    flex
        justify-content:            space-between
        font-size:                  13px
        align-items:                center
    .copy-legal
        display:                    flex
        color:                      rgba(255,255,255, 0.4)
        padding:                    13px 0px 0px 0px
        a
            margin:                 0px 5px
            color:                  rgba(255,255,255, 0.4)
        a:hover
            color:                  $primarycolor
    .social-icons
        display:                    flex
        justify-content:            center
        align-items:                center
        .twitter
            width:                  20px
            margin:            0 0 0 50px
            img
                width:              100%
        .instagram
            width:                  20px
            margin:            0 0 0 50px
            img
                width:              100%
        .facebook
            width:                  10px
            margin:            0 0 0 50px
            img
                width:              100%

@media screen and (max-width: 740px)
    footer.main
        .wrap
            display: flex
            justify-content: space-between
            font-size: 13px
            flex-wrap: wrap-reverse
            .copy-legal
                color: rgba(255,255,255, 0.4)
                padding: 13px 0px
                width: 100%
                justify-content: center
                a
                    margin-left: 10px
                    color: rgba(255,255,255, 0.4)

            .social-icons
                width: 100%
                padding:            20px
                justify-content: center
                .twitter
                    width:                  20px
                    margin:            0 20px
                    img
                        width:              100%
                .instagram
                    width:                  20px
                    margin:            0 20px
                    img
                        width:              100%
                .facebook
                    width:                  10px
                    margin:            0 20px
                    img
                        width:              100%