<header class="faqs">
    <nav class="main-nav">
        <ul>
            <li class="logo"><a href="{{ site.url }}"><img src="{{ site.url }}/img/logo.svg" alt=""></a></li>
            <li class="nav-list">
                <ul>
                    <li><a href="{{site.url }}/experience-it">Experience It</a></li>
                    <li><a href="{{site.url }}/business">For Business</a></li>
                    <li><a href="{{site.url }}/faqs" class="active-link">FAQs</a></li>
                    <li><a href="{{site.url }}/"><button><img src="{{ site.url }}/img/logo-white.svg" alt="" class="cowrie">MY EYOWO</button></a></li>
                </ul>
            </li>
            <div class="mobile-top-nav">
                <div class="nav-menu" onclick="showmenu(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </div>
        </ul>
    </nav>
    <nav class="mobile-nav">
        <ul class="sub-ul">
            <li><a href="{{site.url }}/experience-it">Experience It</a></li>
            <li><a href="{{site.url }}/business">For Business</a></li>
            <li><a href="{{site.url }}/faqs">FAQs</a></li>
            <li><a href="{{site.url }}/">MY EYOWO</a></li>
        </ul>
    </nav>
    
    <script>
        var mobileNav = document.querySelector(".mobile-nav");
        function showmenu(x) {
            x.classList.toggle("change");
            mobileNav.classList.toggle("open-nav");
        }
    </script>

    <div class="heading container">
        <h1>Eyowo- Frequently Asked Questions (FAQs)</h1>
        <p>Find answers to frequently asked questions about setting up an Eyowo account, making payments at merchant stores and security.</p>
    </div>
</header>

<section class="qas">
    <div class="container">
        <div class="qa">
            <h3 class="q">What is Eyowo?</h3>
            <p class="a">Eyowo is a digital solution that helps you achieve simple day-to-day financial transactions. To use Eyowo, simply create an account <a href="">here</a> and you’re on your way to making your first transaction in seconds. Technically, you already have an Eyowo account. Find out here!</p>
        </div>
        <div class="qa">
            <h3 class="q">How do I create an Eyowo account?</h3>
            <p>You can create a free account by following <a href="">this link</a>.</p>
        </div>
        <div class="qa">
            <h3 class="q">Where can I download Eyowo?</h3>
            <p class="a">Eyowo is available on the <a href="">Google Play Store</a> and <a href="">Apple Appstore</a></p>
        </div>
        <div class="qa">
            <h3 class="q">Is it secure?</h3>
            <p class="a">All transactions on Eyowo are secure. This helps us prevent unauthorized access to your account. Contact us immediately via <a href="mailto:support@eyowo.com">support@eyowo.com</a> if you have noticed any unauthorized activity on your Eyowo account.</p>
        </div>
        <div class="qa">
            <h3 class="q">How can I recover my password?</h3>
            <p class="a">If you are having issues signing into your account because you forgot your username or pin, you can retrieve your details by clicking on ’forgot password’ on the <a href="">login</a> page</p>
        </div>
        <div class="qa">
            <h3 class="q">Where can I use Eyowo?</h3>
            <p class="a">A lot of digital and traditional stores are collecting payments with Eyowo. You can also use Eyowo to pay flight tickets, bills, hotel bookings etc. You can send funds to anyone in Nigeria with Eyowo. All you need is their phone number. Sending money has never been this seamless.</p>
        </div>
        <div class="qa">
            <h3 class="q">Can I use Eyowo if I don’t have a smartphone?</h3>
            <p class="a">You don’t need a smartphone to receive payments. You only need to have a working and NCC-registered phone number to receive and make payments.</p>
        </div>
        <div class="qa">
            <h3 class="q">Is it possible for me to send money to the wrong person?</h3>
            <p class="a">Every time you send money using Eyowo, you get the chance to verify the name of the recipient before confirming the payment, so you can check you’re sending money to the right person.
             We advise you to verify receiver’s details properly before sending!
            </p>
        </div>
        <div class="qa">
            <h3 class="q">What happens if my mobile phone is lost or stolen?</h3>
            <p class="a">It isn’t possible to send a payment using Eyowo without your app’s password or transaction code. In case this happens, please log on to Eyowo on the web in order to secure your account</p>
        </div>
        <div class="qa">
            <h3 class="q">How do I add a card/link my bank account to my Eyowo account?</h3>
            <p class="a">You can add a bank card to your Eyowo account. This typically happens during onboarding. You can also view and manage your card/bank authorizations from your profile section.</p>
        </div>
        <div class="qa">
            <h3 class="q">How do I send payments using Eyowo?</h3>
            <p class="a">To make a payment, you need to log into Eyowo and either select the contact you wish to pay or manually enter their mobile number.
                    Every time you send money through Eyowo, you get to verify the name of the recipient, so you can check you’re sending money to the right person. Once you’re satisfied, press send and you’ll receive confirmation straight away that your payment has been sent.
                    </p>
        </div>
        <div class="qa">
            <h3 class="q">Why Should I Trust Eyowo</h3>
            <p class="a">Eyowo is bringing relief to both the banked and unbanked, to all those who struggle in long bank queues to carry out simple financial transactions. 
                    With Eyowo, the complaints associated with transactions that ought to be simplified is totally eliminated. You asked for it, we delivered.
                    </p>
        </div>
    </div>
</section>

<section class="getting-started">
    <div class="container grid-2-cols bottom-application">
        <div class="left">
            <img src="http://res.cloudinary.com/psybug/image/upload/c_scale,w_525/v1525109055/getting-started_usrqw8.png" alt="">
        </div>
        <div class="right">
            <h3>Getting started with Eyowo</h3>
            <p>Eyowo eliminates the hassles associated with making payments online and offline. With Eyowo, you can transfer and receive cash whenever and however. You no longer have to worry about long queues, tedious processes and crappy internet connectivity.</p>
        </div>
    </div>
</section>

<section class="black-download-area">
    <div class="container">
        <h1>Download Eyowo for iOS &amp; Android</h1>
        <div class="links">
            <a href=""><img src="{{ site.url }}/img/black-appstore.svg" alt=""></a>
            <a href=""><img src="{{ site.url }}/img/black-googleplay.svg" alt=""></a>
        </div>
    </div>
</section>