<!-- Main footer without blur -->
<footer class="main">
    <div class="wrap">
        <div class="copy-legal">
            <p>&copy; 2018 Softcom Ltd.</p>
            <a href="#">Legal</a>
        </div>
        <div class="social-icons">
            <div class="twitter"><img src="{{ site.url }}/img/twitter.svg" alt=""></div>
            <div class="instagram"><img src="{{ site.url }}/img/instagram.svg" alt=""></div>
            <div class="facebook"><img src="{{ site.url }}/img/facebook.svg" alt=""></div>
        </div>
    </div>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>